.expense-date {
  display: flex;
  flex-direction: column;
  width: 5.5rem;
  height: 5.5rem;
  border: 1px solid #ececec;
  background-color: #2a2a2a;
  color: white;
  border-radius: 12px;
  text-align: center;
}

.expense-date__month {
  width: 100%;
  font-size: 0.75rem;
  border-radius: 12px 12px 0 0;
  font-weight: bold;
  background-color: blueviolet;
  padding: 0.25rem 0;
}

.expense-date__year {
  font-size: 0.75rem;
  padding: 0.25rem 0;
}

.expense-date__day {
  font-size: 1.5rem;
  font-weight: bold;
}